@media (min-width: 1000px)
{
    h1, h2, h3, h4, p, tr, td, a, li
    {
        color: #ccc;;
    }

    ul
    {
        margin: 0px;
        margin-bottom: 3px;
    }

    a
    {
        text-decoration: none;
    }

    h1
    {
        text-align: center;
        text-shadow: 5px 5px 8px green;
        font-size: 50px;
        margin-bottom: 10px;
        margin-top: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h2
    {
        border-width: 1px;
        border-style: solid;
        text-align: center;
        text-shadow: 3px 3px rgb(30, 30, 99);
        padding: 2px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h3
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    p
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 5px;
    }
    
    body
    {
        background-color: black;
    }
    
    table, td, th
    {
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    
    table
    {
        width: 48%;
    }
    
    #nav1
    {
        font-size: large;
        width: 24.3%;
        border-width: 2px;
        border-style: solid;
        border-color: #ccc;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        margin-left: 3px;
    }

    #page
    {
        width: 1000px;
        margin: 10px auto;
        text-align: center;
        border-width: 10px;
        border-style: double;
        border-color: #ccc;
        padding: 10px;
    }
    
    #header
    {
        height: 425px;
    }
    
    #image
    {
        height: 300px;
        width: 975px;
        margin-bottom: 5px;
    }
    
    #pres
    {
        width: 75%;
        float: left;
        text-align: justify;
        margin-bottom: 5px;
        margin-left: 3px;
    }
    
    #description
    {
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        padding-left: 5px;
        padding-right: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #description2
    {
        display: none;
    }
    
    #nav2
    {
        float: right;
        width: 24%;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        padding-bottom: 2px;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #azienda
    {
        font-size:large;
        text-align: center;
        clear:both;
        float:right;
        width: 50%;
    }
    
    
    #pres2
    {
        text-align: justify;
        clear: both;
        float: right;
        width: 50%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #footer
    {
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 10px;
    }

    #left
    {
        margin: 10px;
        float: left;
    }

    #nav1:hover, #nav2:hover
    {
        background-color: rgb(30, 30, 99);
    }
}

@media (min-width: 750px) and (max-width: 999px)
{
    p, tr, h1, h2, h3, h4 td, a, li
    {
        color: #ccc;
        font-size: small;
    }
    
    ul
    {
        margin: 0px;
        margin-bottom: 3px;
    }

    a
    {
        text-decoration: none;
    }

    h1
    {
        text-align: center;
        text-shadow: 5px 5px 8px green;
        font-size: 50px;
        margin-bottom: 10px;
        margin-top: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h2
    {
        border-width: 1px;
        border-style: solid;
        font-size: medium;
        text-shadow: 2px 2px rgb(30, 30, 99);
        border-color: #ccc;
        text-align: center;
        padding: 2px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h3
    {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: medium;
    }
    
    p
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 5px;
    }
    
    body
    {
        background-color: black;
    }
    
    table, td, th
    {
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    
    table
    {
        width: 48%;
    }
    
    #nav1
    {
        font-size: large;
        width: 24%;
        border-width: 2px;
        border-style: solid;
        border-color: #ccc;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        margin-left: 3px;
    }
    
    #page
    {
        width: 700px;
        margin: 10px auto;
        text-align: center;
        border-width: 10px;
        border-style: double;
        border-color: #ccc;
        padding: 10px;
    }
    
    #header
    {
        height: 360px;
    }
    
    #image
    {
        height: 250px;
        width: 500px;
        margin-bottom: 5px;
    }
    
    #pres
    {
        width: 75%;
        float: left;
        font-size: small;
        text-align: justify;
        margin-bottom: 5px;
        margin-left: 3px;
    }
    
    #description
    {
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        padding-left: 5px;
        padding-right: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #nav2
    {
        float: right;
        width: 24%;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        padding-bottom: 2px;
        font-size: small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #azienda
    {
        font-size: large;
        text-align: center;
        clear: both;
        float: right;
        width: 50%;
    }

    #pres2
    {
        text-align: justify;
        clear: both;
        float: right;
        width: 50%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
    }

    #footer
    {
        font-size: small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 10px;
    }

    #nav1:hover, #nav2:hover
    {
        background-color: rgb(30, 30, 99);
    }
}

@media (max-width: 749px)
{
    p, tr, h1, h2, h3, h4 td, a, li
    {
        color: #ccc;
    }
    
    ul
    {
        margin: 0px;
        margin-bottom: 3px;
    }

    h1
    {
        text-align: center;
        text-shadow: 3px 3px 5px green;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h2
    {
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        text-align: center;
        text-shadow: 2px 2px rgb(30, 30, 99);
        padding: 2px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h3
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    p
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 5px;
    }
    
    body
    {
        background-color: black;
    }
    
    table, td, th
    {
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    
    table
    {
        width: 48%;
    }
    
    #nav1
    {
        font-size: medium;
        width: 24.3%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        margin-left: 3px;
    }
    
    #page
    {
        width: 450px;
        margin: 10px auto;
        text-align: center;
        padding: 10px;
    }
    
    #header
    {
        height: 180px;
    }
    
    #image
    {
        height: 100px;
        width: 350px;
        margin-bottom: 5px;
    }
    
    #pres
    {
        width: 100%;
        float: left;
        text-align: justify;
        margin-bottom: 5px;
        margin-left: 3px;
    }
    
    #description
    {
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        padding-left: 5px;
        padding-right: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #nav2
    {
        display: none;
    }
    
    #azienda
    {
        font-size: small;
        text-align: center;
        clear: both;
        float: right;
        width: 50%;
    }

    #pres2
    {
        text-align: justify;
        clear: both;
        float: right;
        width: 50%;
        font-size: small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #footer
    {
        font-size: small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 15px;
    }
}
